@model ShowcaseViewModel

<section id="@Model.Id" class="showcase">

    <div class="container">
        <div class="content">
            <h2>@Model.Title</h2>
            <p class="text-l">We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
            <a class="btn-theme-s" asp-controller="@Model.Link.ControllerName" asp-action="@Model.Link.ActionName" >@Model.Link.Text</a>
            <h5>@Model.BrandText</h5>
            <div class="companies">
                @if (Model.Brands != null)
                {
                    foreach (var brand in Model.Brands)
                    {
                        <img src="@brand.ImageUrl" alt="@brand.AltText">
                    }
                }
            </div>
        </div>

    </div>
    <img class="background-img" src="@Model.ShowcaseImage" alt="@Model.ShowcaseImage.AltText">
</section>
